@import "../app.css";

$menu: cadetblue;

#target {
  background: $menu;
}

#image-first {
  background: url('../images/joli.jpg');
  width: 550px;
  height: 380px;
}

#image-second {
  background: url('../images/yoshi.png');
  width: 550px;
  height: 380px;
}

#image-third {
  background: $menu;
  width: 100px;
  height: 100px;
}

div > p {
  color : aliceblue;
}