# temp files
*~
**/tmp

# Submodules' build
**/build/
**/out/
**/dist
**/node_modules


# Gradle's plugins
master/buildSrc/build/
master/buildSrc/.gradle/
master/.gradle/
.gradle/

# Maven (ToDo : split up between projects )
target/

# Eclipse (ToDo : split up between projects )
bin/
.settings/
.project
.classpath

# Idea
.idea/
**/*.iml
*.ipr
*.iws

# test
/test/**
**/*.log
